<div class="top-nav-options">
    <a href="/">Home</a>
    <a href="/signup">Sign Up</a>
    <br><br><br><br>
    <h1>Sign In</h1>
</div>

<form method="post" action="/login">
    <label for="username">Username: </label>
    <input id="username" type="text" name="username">
    <label for="password">Password: </label>
    <input id="password" type="password" name="password">
    <input type="submit" value="Login">
</form>