<header>
    <ul>
        <li class="top_nav_options"><a href="/">Home</a></li>
    </ul>
    <h1>Sign In</h1>
</header>

<form method="post" action="/login">
    <label for="username">Username: </label>
    <input id="username" type="text" name="username">
    <label for="password">Password: </label>
    <input id="password" type="text" name="password">
    <input type="submit" value="Login">
</form>