<header>
    <ul>
        <li><a href="/ideas">Ideas</a></li>
        <li><a href="/logout">Log Out</a></li>
    </ul>
    <br>
    <h1>Edit Idea</h1>
</header>

<form method="post" action="/ideas/<%= @idea.id %>">
    <input type="hidden" name="_method" value="patch">

    <label for="title">Title: </label>
    <input id="title" type="text" name="title" value="<%= @idea.title %>">
    <br>
    <br>
    <br>
    <textarea name="content" ><%= @idea.content %></textarea>
    <br>
    <input type="submit" value="Submit">
</form>
