<h1>Ideas</h1>

<ul>
<% @ideas.each do |idea| %>
    <li><a href="/ideas/<%= idea.id %>"><%= idea.title %></a></li>
<% end %>
</ul>
<br>
<br>
<a href="/ideas/new">Add New Idea</a>
<br>
<br>
<a href="/logout">Log Out</a>
