<div class="top-nav-options">
    <a href="/ideas/new">New Idea</a>
    <a href="/logout">Log Out</a>
    <br><br><br><br>
    <h1>Ideas</h1>
</div>
<% if !@ideas.empty? %>
    <div class="iterate">
        <% @ideas.each do |idea| %>
            <a href="/ideas/<%= idea.id %>"><%= idea.title %></a>
            <br><br>
        <% end %>
    </div>

<% else %>
    <p class="center-text">You currently have no ideas stored. To add a new idea, select 'New Idea' above.</p>
<% end %>
