<header>
    <ul>
    <li><a href="/ideas/new">New Idea</a></li>
    <li><a href="/logout">Log Out</a></li>
    <h1>Ideas</h1>
</header>
<ul>
<% @ideas.each do |idea| %>
    <li><a href="/ideas/<%= idea.id %>"><%= idea.title %></a></li>
    <br>
<% end %>
</ul>


