<div class="top-nav-options">
    <h3>Welcome, <%= current_user.username %>.</h3>
    <br>
    <a class="red-link" href="/ideas/new">Create New Idea</a>
    <a href="/logout">Log Out</a>
    <br><br><br><br>
    <h1>Ideas</h1>
</div>

<% if !@ideas.empty? %>
    <div class="iterate">
        <% @ideas.each do |idea| %>
            <a href="/ideas/<%= idea.id %>"><%= idea.title %></a>
            <br><br>
        <% end %>
    </div>

<% else %>
    <p class="center-text">You currently have no ideas stored. To add a new idea, select 'Create New Idea' above.</p>
<% end %>
