<header>
    <ul>
        <li><a href="/ideas">Ideas</a></li>
        <li><a href="/logout">Log Out</a></li>
    </ul>
    <br>
    <h1>New Idea</h1>
</header>

<form method="post" action="/ideas">
    <label for="title">Title: </label>
    <input id="title" type="text" name="title">
    <label for="content">Content: </label>
    <textarea name="content" ></textarea>
    <input type="submit" value="Submit">
</form>



