<div class="top-nav-options">
    <a href="/ideas">Ideas</a>
    <a href="/logout">Log Out</a>
    <br><br><br><br>
    <h1>New Idea</h1>
</div>

<form method="post" action="/ideas">
    <label for="title">Title: </label>
    <input id="title" type="text" name="title">

    <br><br>

    Content
    <br>
    <textarea></textarea>
    <br>
    <input type="submit" value="Submit">
</form>



