<header>
    <ul>
        <li class="top_nav_options"><a href="/ideas">Ideas</a></li>
        <li class="top_nav_options"><a href="/logout">Log Out</a></li>
    </ul>
    
</header>
    <body>
        <h2><%= @idea.title %></h2>
        <p class="content"><%= @idea.content %></p>
        <form action="/ideas/<%= @idea.id %>/edit">
            <input type="submit" value="Edit">
        </form>
        
        <br>

        <form method="post" action="/tweets/<%= @idea.id %>/delete">
            <input id="hidden" type="hidden" name="_method" value="DELETE">
            <input type="submit" value="Delete">
        </form>
    </body>


