body {
    font-family: 'Courier New', Courier, monospace;
}

#main-header {
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
}

.top-nav-options {
    text-align: center;
}

.flash {
    text-align: center;
    color: red;
}

.iterate {
    text-align: center;
}

.content-box {
    display: flex;
    max-width: 800px;
    text-align:center;
    border: 2px solid black;
    margin: auto;
}

.center-text {
    text-align: center;
}

textarea {
    width: 800px;
    height: 200px;
    border: 2px solid black;
    font-family: 'Courier New', Courier, monospace;
}

input[type="text"] {
    font-family: 'Courier New', Courier, monospace;
}

a:link, a:visited {
    background-color: white;
    color: black;
    padding: 14px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    border: 2px solid black;
}
  
a:hover, a:active {
    background-color: black;
    color: white;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 2px solid black;
    margin: 1em auto;
    padding: 0;
}

form {
    text-align: center;
}
