<% if logged_in? %>
    <div class="top-nav-options">
        
            <a href="/ideas"> Ideas </a>
            <br>
            <a href="/ideas/new"> Add a New Idea </a>
            <br>
            <a href="/logout"> Log Out </a>
        
    </div>
<% else %>
    <div class="top-nav-options">
        <p>Please sign up or sign in below:</p>
        <a href="/signup">Sign Up</a>
        
        <a class="red-link" href="/login"> Sign In </a>
    </div>
<%end %>
  


    
    

  

