<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BrainStorm</title>
    
    <link rel="stylesheet" href="/stylesheets/second.css" />
</head>
<body>
    <header> 
            <% if flash.has?(:message) %>
                <%= flash[:message] %>
            <% end %>
        <h1>BrainStorm</h1>
    </header>
    <%= yield %>
</body>
</html>