<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BrainStorm</title>
    
    <link rel="stylesheet" href="/stylesheets/second.css">
</head>
<body>
    <header> 
        <br>
        <h1 id="main-header">BrainStorm</h1>
        <br>
        <hr/>
        <% if flash[:message] %>
            <p class="flash"><%= flash[:message] %></p>
        <% end %>

        <% if flash[:messages] %>
            <% flash[:messages].each do |message| %>
                <p class="flash"><%= message %></p>
            <% end %>
        <% end %>
        <br>
    </header>
    <%= yield %>
</body>
</html>